<!DOCTYPE html>
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/style.css')}}" />
    <!-- <script src="{{ url_for('static', filename='scripts/webcam.js') }}"></script> -->
</head>
<body>
    <div id="container">
        <!-- <div id=menu>
                <button>Video Snapshot</button>
                <button>Image</button>
                <button>URL</button>
        </div> -->
        <canvas id="canvas" class="wrapper_container"></canvas>
        <div id="resultJSON" class="wrapper_container"><img src="{{ result_img }}"></div>
        <!-- <a class="link_snapshot" href="javascript:void(take_snapshot())">Take Snapshot</a> -->
    </div>
</body>